@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  direction: rtl;
}


/* تنظیم موقعیت pagination برای موبایل */
@media (max-width: 1023px) {
  .swiper-pagination {
    position: relative !important;
    top: 5px !important; /* مقدار کمی بالاتر میاد */
  }
}

/* تنظیم pagination برای دسکتاپ */
@media (min-width: 1024px) {
  .swiper-pagination {
    position: relative !important;
    bottom: -2px !important; /* پایین‌تر میاد تا زیر کارت‌ها قرار بگیره */
    left: 50%;
    transform: translateX(-50%);
  }
}

/* تغییر رنگ دکمه‌های فعال */
.swiper-pagination-bullet-active {
  background-color: #C1121F !important;
}




.no-scroll::-webkit-scrollbar{
  display: none;
}

.no-scroll{
  -ms-overflow-style: none;
  scrollbar-width:none;
}